@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-ban-ups {
  font-family: "Roboto", sans-serif;
}

.main-ban-ups__wrp-cont {
  background-color: #E9E9E9;
}

.main-ban-ups__img-wrp {
  position: relative;
}

.main-ban-ups__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
}

.main-ban-ups__parent {
  position: relative;
  background-color: #E9E9E9;
}

.main-ban-ups__size {
  position: relative;
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-clip-path: polygon(0 0, 51% 0, 26% 100%, 0% 100%);
          clip-path: polygon(0 0, 51% 0, 26% 100%, 0% 100%);
}

.main-ban-ups__h1 {
  max-width: 678px;
  margin-bottom: 21px;
  padding-top: 57px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-ban-ups__instal-odessa-free {
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-ban-ups__instal-odessa-icon {
  margin-right: 20px;
}

.main-ban-ups__instal-odessa-text {
  max-width: 347px;
  font-size: 16px;
}

.main-cont-wrp-ups {
  font-family: "Roboto", sans-serif;
}

.main-cont-wrp-ups__text-un-ban {
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1116px;
  text-align: center;
  font-size: 18px;
}

.main-cont-wrp-ups__line {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #C4C4C4;
}

.main-cont-wrp-ups__heading-text {
  margin-bottom: 40px;
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.problems-ups {
  max-width: 1607px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.problems-ups__wrp-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.problems-ups__cont-img-wrp {
  position: relative;
}

.problems-ups__title-text {
  position: absolute;
  top: 54px;
  left: 81px;
  z-index: 20;
}

.problems-ups__icon-wrp {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.problems-ups__title-text-width {
  max-width: 263px;
}

.problems-ups__line {
  width: 349px;
  border-top: 1px solid #F36C21;
}

.problems-ups__icon {
  height: 112px;
  margin-right: 15px;
}

.problems-ups__text {
  max-width: 350px;
  padding-top: 26px;
  font-size: 16px;
}

.problems-ups__wrp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.problems-ups__smail-wrp {
  position: relative;
}

.problems-ups__smail-text {
  position: absolute;
  top: 32px;
  left: 60px;
}

.problems-ups__smail-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.problems-ups__smail-text-pos {
  max-width: 813px;
  padding-left: 32px;
  font-size: 24px;
  line-height: 1;
}

.problems-ups__smail-link {
  color: #F36C21;
  text-decoration: underline;
}

.action-odessa-ups {
  min-height: 567px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.action-odessa-ups__img-bac {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.action-odessa-ups__text-wrp {
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.action-odessa-ups__heading {
  max-width: 612px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.action-odessa-ups__text {
  max-width: 612px;
  padding-top: 24px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.action-odessa-ups__text-btn {
  min-width: 187px;
  padding: 8px 18px;
  color: #ffffff;
  background-color: #F36C21;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.type-akb-ups {
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.type-akb-ups__wrp-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.type-akb-ups__wrp-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.type-akb-ups__text-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-akb-ups__icon-wrp-bel {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-akb-ups__text-wrp-apecific {
  max-width: 349px;
  margin-right: 74px;
}

.type-akb-ups__text-wrp-apecific-left {
  max-width: 349px;
}

.type-akb-ups__icon-wrp {
  margin-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-akb-ups__img-btn-gel {
  min-width: 187px;
  height: 32px;
  padding: 5px 18px;
  color: #ffffff;
  background-color: #F36C21;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 60px;
  left: 65px;
  background-color: #44B1BB;
}

.type-akb-ups__img-btn-agm {
  min-width: 187px;
  height: 32px;
  padding: 5px 18px;
  color: #ffffff;
  background-color: #F36C21;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 60px;
  left: 65px;
  background-color: #1A3B7A;
}

.type-akb-ups__img-btn-gel-left {
  min-width: 187px;
  height: 32px;
  padding: 5px 18px;
  color: #ffffff;
  background-color: #F36C21;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 60px;
  left: -70px;
  background-color: #E25750;
}

.type-akb-ups__img-btn-mgel-left {
  min-width: 187px;
  height: 32px;
  padding: 5px 18px;
  color: #ffffff;
  background-color: #F36C21;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 60px;
  left: -70px;
  background-color: #329138;
}

.type-akb-ups__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-akb-ups__img-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.type-akb-ups__text-heading {
  max-width: 809px;
  margin-bottom: 40px;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.type-akb-ups__text-heading-left {
  max-width: 770px;
  margin-bottom: 40px;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: end;
}

.type-akb-ups__text-main {
  margin-bottom: 18px;
  font-size: 14px;
}

.type-akb-ups__icon {
  margin-right: 7px;
}

.type-akb-ups__icon-text-gren {
  color: #329138;
}

.type-akb-ups__icon-text-red {
  color: #E25750;
}

.type-akb-ups__wrp-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

.type-akb-ups__wrp-icon-left {
  margin-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

.type-akb-ups__btn {
  margin-top: 10px;
  padding: 8px 18px;
  color: #ffffff;
  background-color: #F36C21;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.type-akb-ups__btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 250px;
}

.type-akb-ups__text-wrp-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ups-akb-included {
  position: relative;
}

.ups-akb-included__text-wrp {
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.ups-akb-included__heading {
  max-width: 612px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.ups-akb-included__text {
  max-width: 612px;
  padding-top: 24px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.ups-akb-included__text-btn {
  padding: 8px 18px;
  color: #ffffff;
  background-color: #F36C21;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.ups-akb-included__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ups-akb-included__wrp {
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ups-akb-included__heading-text {
  margin-bottom: 40px;
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}
/*# sourceMappingURL=main.css.map */