@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  min-height: 100vh;
  width: 100%;
}

.img-svg {
  opacity: 1;
}

.img-svg svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

label {
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.top-banner-lp-br {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E9E9E9;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

@media (max-width: 1376px) {
  .top-banner-lp-br {
    background-size: cover;
  }
}

@media (min-width: 2207px) {
  .top-banner-lp-br {
    background-size: 60%;
  }
}

@media (max-width: 680px) {
  .top-banner-lp-br {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-banner-lp-br__wrp {
  position: relative;
  width: 100%;
}

@media (max-width: 680px) {
  .top-banner-lp-br__wrp {
    margin-bottom: 20px;
  }
}

.top-banner-lp-br__img-wrp {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: #a5a5a5;
}

@media (max-width: 680px) {
  .top-banner-lp-br__img-wrp {
    height: 237px;
  }
}

.top-banner-lp-br__img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 680px) {
  .top-banner-lp-br__img {
    display: none;
  }
}

.top-banner-lp-br__img-mob {
  display: none;
}

@media (max-width: 680px) {
  .top-banner-lp-br__img-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 237px;
  }
}

.top-banner-lp-br__text-wrp {
  max-width: 1550px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  z-index: 10;
}

@media (max-width: 680px) {
  .top-banner-lp-br__text-wrp {
    position: relative;
  }
}

.top-banner-lp-br__text-pos {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  background-color: #E9E9E9;
  -webkit-clip-path: polygon(0 0, 100% 0, 52% 102%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 52% 102%, 0% 100%);
}

@media (max-width: 1456px) {
  .top-banner-lp-br__text-pos {
    padding-left: 16px;
  }
}

@media (max-width: 680px) {
  .top-banner-lp-br__text-pos {
    margin: 0 auto;
  }
}

.top-banner-lp-br__text {
  max-width: 1075px;
  margin-bottom: 40px;
  padding-top: 57px;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  color: #434343;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@media (max-width: 680px) {
  .top-banner-lp-br__text {
    text-align: center;
    font-size: 26px;
    color: #000000;
    background-color: #ad2a2a00;
  }
}

.top-banner-lp-br__pos-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-banner-lp-br__text-img {
  width: 40%;
}

.top-banner-lp-br__instal-od {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-family: "Roboto", sans-serif;
}

.top-banner-lp-br__instal-od-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}

.top-banner-lp-br__instal-text {
  max-width: 687px;
}

.main-cont-wrp-ups {
  font-family: "Roboto", sans-serif;
}

.main-cont-wrp-ups__text-un-ban {
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1116px;
  text-align: center;
  font-size: 18px;
}

.main-cont-wrp-ups__line {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #C4C4C4;
}

.main-cont-wrp-ups__heading-text {
  margin-bottom: 40px;
  max-width: 1550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.problems-ups {
  max-width: 1607px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.problems-ups__wrp-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.problems-ups__cont-img-wrp {
  position: relative;
}

.problems-ups__title-text {
  position: absolute;
  top: 54px;
  left: 81px;
  z-index: 20;
}

.problems-ups__icon-wrp {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.problems-ups__title-text-width {
  max-width: 263px;
}

.problems-ups__line {
  width: 349px;
  border-top: 1px solid #F36C21;
}

.problems-ups__icon {
  height: 112px;
  margin-right: 15px;
}

.problems-ups__text {
  max-width: 350px;
  padding-top: 26px;
  font-size: 16px;
}

.problems-ups__wrp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.problems-ups__smail-wrp {
  position: relative;
}

.problems-ups__smail-text {
  position: absolute;
  top: 32px;
  left: 60px;
}

.problems-ups__smail-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.problems-ups__smail-text-pos {
  max-width: 813px;
  padding-left: 32px;
  font-size: 24px;
  line-height: 1;
}

.problems-ups__smail-link {
  color: #F36C21;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */