.main-ban-ups {
  font-family: $fontRobotoReg;
  &__wrp-cont {
    background-color: #E9E9E9;
  }
  &__img-wrp {
    position: relative;
    
  }
  &__img {
    @include positionImg;
    margin-left: auto;
  }
  &__parent {
    position: relative;
    background-color: #E9E9E9;
  }
  &__size {
    position: relative;
    @include pageGred;
    clip-path: polygon(0 0, 51% 0, 26% 100%, 0% 100%)
  }
  &__h1 {
    max-width: 678px;
    margin-bottom: 21px;
    padding-top: 57px;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__instal-odessa-free {
    margin-bottom: 21px;
    @include centreFlex;
  }
  &__instal-odessa-icon {
    margin-right: 20px;
  }
  &__instal-odessa-text {
    max-width: 347px;
    font-size: 16px;
  }
  &__instal-odessa-img {
    
  }
}