@import "_normalize";
@import "_variables_mixin.scss";
@import "_styleBannerMixin.scss";
@import "_styleForBanner";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.main-wrp-ups-akb {
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
}
.main-cont-wrp-ups {
  // @include pageGred;
  font-family: $fontRobotoReg;
  color: $colorBlackText;
  &__text-un-ban {
    padding-top: 40px;
    margin-bottom: 40px;
    @include marCenter;
    max-width: 1116px;
    text-align: center;
    font-size: 18px;
    @include smScreenWidth {
      & {
        @include paddingMob;
      } 
    }
    @include bigMobileWidth {
      & {
        padding-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  &__line {
    max-width: 1440px;
    margin-bottom: 40px;
    @include marCenter;
    border-top: 1px solid $greyLine;
    @include textPad {
      & {
        margin-left: 16px;
        margin-right: 16px;
      } 
    }
    @include bigMobileWidth {
      & {
        margin-bottom: 20px;
      }
    }
  }
  &__heading-text {
    margin-bottom: 40px;
    @include pageGred;
    @include fontBoltHeading;
    @include startAdaptive {
      & {
        @include paddingMob;
      }
    }
    @include bigMobileWidth {
      & {
        text-align: center;
        font-size: 22px;
      }
    }
  }
  @at-root {
    .problems-ups {
      max-width: 1607px;
      width: 100%;
      @include marCenter;
      font-family: $fontRobotoReg;
      &__wrp-pos {
        display: flex;
        justify-content: space-between;
        position: relative;
        @include adaptivProblemUps {
          & {
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
      &__cont-img-wrp {
        position: relative;
      }
      &__line-text {
        @include littleOrangeLine;
        width: auto;
        max-width: 349px;
        @include marCenter;
      }
      &__title-text {
        position: absolute;
        top: 54px;
        left: 81px;
        z-index: 20;
        @include blockImgStatic {
          & {
            top: 40px;
            left: 50px;
          }
        }
      }
      &__icon-wrp {
        margin-bottom: 10px;
        @include centreFlex;
      }
      &__title-text-width {
        max-width: 263px;
        @include blockImgStatic {
          & {
            max-width: 200px;
          }
        }
      }
      &__line {
        @include littleOrangeLine;
        @include bigMobileWidth {
          & {
            @include marCenter;
          }
        }
        @include blockImgStatic {
          & {
            width: 250px;
            margin-left: 0;
          }
        }
      }
      &__icon {
        height: 112px;
        margin-right: 15px;
        @include blockImgStatic {
          & {
            width: 14%;
            height: 5%;
          }
        }
      }
      &__text {
        max-width: 350px;
        padding-top: 26px;
        font-size: 16px;
        @include blockImgStatic {
          & {
            max-width: 280px;
            padding-top: 10px;
            font-size: 14px;
          }
        }
      }
      &__wrp {
        position: relative;
        display: flex;
      }
      &__smail-wrp {
        position: relative;
      }
      &__des {
        @include smailText {
          & {
            display: none;
          }
        }
      }
      &__des-mob {
        display: none;
        @include smailText {
          & {
            display: block;
          }
        }
      }
      &__smail-text {
        position: absolute;
        top: 32px;
        left: 60px;
        @include smailText {
          & {
            top: 35px;
            left: 23px;
          }
        }
      }
      &__smail-pos {
        @include centreFlex;
        @include smailText {
          & {
            align-items: flex-start;
          }
        }
      }
      &__smail-text-pos {
        max-width: 813px;
        padding-left: 32px;
        font-size: 24px;
        line-height: 1;
        @include bigMobileWidth {
          & {
            max-width: 700px;
            font-size: 16px;
          }
        }
        @include smailText {
          & {
            padding-left: 10px;
            max-width: 227px;
          }
        }
      }
      &__smail-link {
        color: $mainColor;
        text-decoration: underline;
      }
    }
  }
  @at-root {
    .action-odessa-ups-none {
      @include bigMobileWidth {
        & {
          display: none;
        }
      }
    }
    .action-odessa-ups {
      min-height: 567px;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      position: relative;
      @include bigMobileWidth {
        & {
          flex-direction: column;
        }
      }
      &__line-text-action {
        @include littleOrangeLine;
        width: auto;
        max-width: 349px;
        @include bigMobileWidth {
          & {
            @include marCenter;
          }
        }
      }
      &__line-text {
        @include littleOrangeLine;
        width: auto;
        max-width: 349px;
        margin-left: 0;
        @include blockImgStatic {
          & {
            @include marCenter;
          }
        }
      }
      @include mobileWidth {
        & {
          margin-bottom: 0;
        }
      }
      &__line-action {
        display: none;
        max-width: 320px;
        width: 100%;
        @include marCenter;
        @include bigMobileWidth {
          & {
            display: block;
        border-top: 1px solid $greyLine;
          }
        }
      }
      &__img-bac {
        width: 100%;
        height: 550px;
        @include positionImg;
        @include bigMobileWidth {
          & {
            height: auto;
            margin-bottom: 20px;
            position: relative;
          }
        }
      }
      &__text-wrp {
        @include pageGred;
        @include startAdaptive {
          & {
            @include paddingMob;
          }
        }
        @include bigMobileWidth {
          & {
            margin-bottom: 30px;
          }
        }
      }
      &__heading {
        @include textHeadingSale;
        @include bigMobileWidth {
          & {
            @include marCenter;
            font-size: 24px;
            text-align: center;
          }
        }
      }
      &__heading-or {
        color: $mainColor;
      }
      &__text {
        @include textSale;
        @include bigMobileWidth {
          & {
            @include marCenter;
            text-align: center;
          }
        }
        
      }
      &__text-btn {
        min-width: 187px;
        @include btn;
        @include bigMobileWidth {
          & {
            @include marCenter;
            display: block;
          }
        }
      }
    }
  }
  @at-root {
    .type-akb-ups {
      @include pageGred;
      &__wrp-right {
        display: flex;
        justify-content: space-around;
        @include startAdaptive {
          & {
            // margin-bottom: 20px;
          }
        }
        @include textPad {
          & {
            flex-direction: column;
          }
        }
      }
      &__img-left-kit-mob {
        display: none;
        @include mobileWidth {
          & {
            display: block;
          }
        }
      }
      &__img-left-kit {
        @include mobileWidth {
          & {
            display: none;
          }
        }
      }
      &__icon-wrp-bel-bac-mob {
        margin-right: 16px;
        display: none;
        @include bigMobileWidth {
          display: block;
        }
      }
      &__icon-wrp-bel-bac {
        @include bigMobileWidth {
          display: none;
        }
      }
      &__wrp-left {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        @include startAdaptive {
          & {
            margin-bottom: 20px;
          }
        }
        @include textPad {
          & {
            flex-direction: column;
          }
        }
        @include mobileWidth {
          & {
            margin-bottom: 0;
          }
        }
      }
      &__text-wrp {
        display: flex;
        @include textPad {
          & {
            flex-direction: column-reverse;
          }
        }
      }
      &__text-heading-left-mob {
        display: none;
        max-width: 770px;
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @include fontBoltHeading;
        @include textPad {
          & {
            display: block;
          }
        }
        @include mobileWidth {
          & {
            padding-top: 20px;
            font-size: 22px;
          }
        }
      }
      &__icon-wrp-bel {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
      &__text-wrp-apecific {
        max-width: 349px;
        margin-right: 74px;
        @include textPad {
          & {
            max-width: 600px;
            margin-right: auto;
            margin-left: auto;
          }
        }
        @include mobileWidth {
          & {
          @include paddingMob;
          }
        }
      }
      &__text-wrp-apecific-left {
        max-width: 349px;
        @include marCenter;
        @include textPad {
          & {
            max-width: 600px;
            margin-right: auto;
            margin-left: auto;
          }
        }
        @include mobileWidth {
          & {
          @include paddingMob;
          }
        }
      }
      &__icon-wrp {
        margin-bottom: 11px;
        display: flex;
      }
      &__img-btn-gel {
        @include technologyAkb;
        position: absolute;
        top: 60px;
        left:  -127px;
        background-color: #44b1bb;
        @include gelPos {
          & {
            left: -52px;
          }
        }
        @include textPad {
          & {
            right: -50px;
            left: auto;
            top: 75px
          }
        }
        @include mobileWidth {
          & {
            @include akbTypeBtnMob;
            top: 22px;
          }
        }
      }
      &__img-btn-agm {
        @include technologyAkb;
        position: absolute;
        top: 60px;
        left: -127px;
        background-color: #1a3b7a;
        @include gelPos {
          & {
            left: -42px;
          }
        }
        @include textPad {
          & {
            right: -50px;
            left: auto;
            top: 75px
          }
        }
        @include mobileWidth {
          & {
            @include akbTypeBtnMob;
            min-width: 216px;
            top: 30px;
            left: 55px;
          }
        }
      }
      &__img-btn-gel-left {
        @include technologyAkb;
        top: 60px;
        left: 328px;
        background-color: #e25750;
        @include mobileWidth {
          & {
            @include akbTypeBtnMob;
          }
        }
      }
      &__img-btn-mgel-left {
        @include technologyAkb;
        top: 60px;
        left: 328px;
        background-color: #329138;
        @include mobileWidth {
          & {
            @include akbTypeBtnMob;
            left: 97px;
          }
        }
      }
      &__img {
        display: flex;
        position: relative;
        @include textPad {
          & {
            justify-content: center;
            flex-direction: row-reverse;
          }
        }
      }
      &__img-pos {
        position: relative;
      }
      &__img-left {
        display: flex;
        flex-direction: row-reverse;
        @include textPad {
          & {
            justify-content: center;
          }
        }
      }
      &__text-heading {
        max-width: 809px;
        margin-bottom: 40px;
        padding-top: 50px;
        @include fontBoltHeading;
        @include textPad {
          & {
            display: none;
          }
        }
      }
      &__text-heading-mob {
        @include fontBoltHeading;
        display: none;
        @include textPad {
          & {
            display: block;
            text-align: center;
          }
        }
        @include mobileWidth {
          & {
            padding-top: 20px;
            font-size: 22px;
          }
        }
      }
      &__text-heading-left {
        max-width: 770px;
        margin-bottom: 40px;
        padding-top: 50px;
        @include fontBoltHeading;
        text-align: end;
        @include textPad {
          & {
            display: none;
          }
        }
      }
      &__icon-wrp-width {
        @include smallestScreenWidth {
          & {
            max-width: 150px;
            font-size: 14px;
          }
        }
      }
      &__text-main {
        margin-bottom: 18px;
        font-size: 14px;
      }
      &__icon {
        margin-right: 7px;
      }
      &__icon-text-gren {
        color: #329138;
      }
      &__icon-text-red {
        color: #e25750;
      }
      &__wrp-icon {
        @include iconBenefits;
        @include textPad {
          & {
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 16px;
            flex-direction: row;
          }
        }
        @include bigMobileWidth {
          & {
            margin-right: 0;
            margin-left: 0;
            justify-content: space-evenly;
          }
        }
        @include blockImgStatic {
          & {
            @include paddingMob;
          }
        }
      }
      &__wrp-icon-left {
        margin-right: 80px;
        @include iconBenefits;
        @include textPad {
          & {
            margin-bottom: 10px;
            margin-right: 0;
            justify-content: center;
            flex-direction: row;
          }
        }
        @include bigMobileWidth {
          & {
            margin-right: 0;
            margin-left: 0;
            justify-content: space-evenly;
          }
        }
        @include blockImgStatic {
          & {
            @include paddingMob;
          }
        }
      }
      &__btn {
        margin-top: 10px;
        @include btn;
        @include textPad {
          & {
            display: block;
            @include marCenter;
          }
        }
      }
      &__btn-wrp {
        display: flex;
        justify-content: center;
        padding-left: 250px;
        @include textPad {
          & {
            padding-left: 0;
          }
        }
      }
      &__text-wrp-left {
        display: flex;
        flex-direction: row-reverse;
        @include textPad {
          & {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}

.ups-akb-included {
  position: relative;
  color: $colorBlackText;
  @include textPad {
    & {
      padding-top: 20px;
    }
  }
  &__text-wrp {
    @include pageGred;
    color: #ffffff;
    @include startAdaptive {
      & {
        @include paddingMob;
      }
    }
    @include mobileWidth {
      & {
        display: none;
      }
    }
  }
  &__heading {
    @include textHeadingSale;
    color: #ffffff;
  }
  &__heading-mob {
    @include pageGred;
    @include textHeadingSale;
    color: #ffffff;
    display: none;
    @include mobileWidth {
      & {
        max-width: 303px;
        padding-left: 16px;
        margin: 0;
        display: flex;
        font-size: 18px;
      }
    }
  }
  &__text {
    @include textSale;
    @include mobileWidth {
      & {
        padding-top: 15px;
        margin-bottom: 15px;
        @include paddingMob;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  &__text-mob {
    display: none;
    @include mobileWidth {
      & {
        display: block;
      }
    }
  }
  &__text-btn {
    @include btn;
    @include bigMobileWidth {
      & {
        display: block;
        @include marCenter;
      }
    }
  }
  &__img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    @include positionImg;
    @include startAdaptive {
      & {
        height: 500px;
      }
    }
    @include mobileWidth {
      & {
        height: 148px;
      }
    }
  }
  &__wrp {
    min-height: 700px;
    @include centreFlex;
    position: relative;
    @include startAdaptive {
      & {
        min-height: 500px;
      }
    }
    @include mobileWidth {
      & {
        min-height: 148px;
      }
    }
  }
  &__heading-text {
    margin-bottom: 40px;
    @include pageGred;
    @include fontBoltHeading;
    @include startAdaptive {
      & {
        @include paddingMob;
      }
    }
    @include mobileWidth {
      & {
        margin-bottom: 15px;;
        text-align: center;
        font-size: 22px;
      }
    }
  }
}

.external-akb-ups {
  @include pageGred;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $colorBlackText;
  &__heading {
    margin-left: auto;
    @include textHeadingSale;
    text-align: right;
  }
  &__heading-mob {
    margin-left: auto;
    margin-right: 16px;
    display: none;
    @include textHeadingSale;
    text-align: right;
    @include bigMobileWidth {
      & {
        display: flex;
        font-size: 30px;
      }
    }
    @include mobileWidth {
      & {
        font-size: 18px;
        text-transform: inherit;
      }
    }
  }
  &__text-wrp {
    text-align: end;
    @include startAdaptive {
      & {
        @include paddingMob;
      }
    }
    @include bigMobileWidth {
      & {
        display: none;
      }
    }
  }
  &__text-wrp-mob {
    margin-bottom: 15px;
    display: none;
    font-size: 14px;
    @include bigMobileWidth {
      & {
        display: block;
      }
    }
  }
  &__line {
    margin-left: auto;
    @include littleOrangeLine;
  }
  &__text {
    margin-left: auto;
    @include textSale;
    @include bigMobileWidth {
      & {
        padding-top: 0;
        margin-bottom: 15px;
        font-size: 14px;
        @include paddingMob;
        @include marCenter;
        text-align: center;
      }
    }
  }
  &__wrp {
    // min-height: 700px;
    @include centreFlex;
    position: relative;
  }
  &__img {
  }
}

.promotion-conditions-ups {
  color: $colorBlackText;
  margin-bottom: 40px;
  @include pageGred;
  &__wrp {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    @include startAdaptive {
      & {
        @include paddingMob;
        justify-content: space-evenly;
      }
    }
    @include promotionConditions {
      & {
        margin-bottom: 0;
        flex-wrap: wrap;
      }
    }
  }
  &__wrp-cont {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    @include borderBlockOrang;
    @include promotionConditions {
      & {
        margin-bottom: 15px;
      }
    }
    @include mobileWidth {
      & {
        flex-direction: column;
      }
    }
  }
  &__heading {
    @include textHeadingSale;
    font-size: 36px;
    @include startAdaptive {
      & {
        @include paddingMob;
        text-align: center;
        @include marCenter;
      }
    }
    @include mobileWidth {
      & {
        font-size: 22px;
      }
    }
  }
  &__numbers {
    margin-bottom: 3px;
    @include fontBoltHeading;
    color: $mainColor;
    @include mobileWidth {
      & {
        margin-right: 10px;
        font-size: 24px;
      }
    }
  }
  &__text {
    max-width: 191px;
    font-size: 18px;
    font-weight: 500;
    @include mobileWidth {
      & {
        max-width: 307px;
        padding-top: 11px;
        font-size: 14px;
      }
    }
  }
  &__wrp-text {
    padding-left: 30px;
    @include mobileWidth {
      & {
        padding-left: 10px;
        display: flex;
      }
    }
  }
  &__img {
    @include mobileWidth {
      & {
        @include marCenter;
      }
    }
  }
  &__text-btn {
    display: flex;
    @include marCenter;
    @include btn;
  }
  &__arrow {
    @include startAdaptive {
      & {
        display: none;
      }
    }
  }
}

.ups-footer-block {
  color: $colorBlackText;
  position: relative;
  margin-bottom: 40px;
  &__img-back {
    width: 100%;
    height: 372px;
    @include positionImg;
    @include mobileWidth {
      & {
        height: 201px;
      }
    }
    @include littleMob {
      & {
        height: 172px;
      }
    }
  }
  &__text-wrp {
    @include pageGred;
    position: relative;
    display: flex;
    justify-content: space-evenly;
  }
  &__text-img {
    position: relative;
    z-index: 120;
    @include mobileWidth {
      & {
        width: 56%;
        @include marCenter;
      }
    }
  }
  &__text-img-back {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 635px;
      height: 374px;
      top: -1px;
      left: -83px;
      background-color: #ffffff;
      clip-path: polygon(45% 0, 100% 0%, 55% 100%, 0 100%);
      @include mobileWidth {
        & {
          width: 204px;
          height: 204px;
          left: 83px;
        }
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    z-index: 19;
    @include smScreenWidth {
      & {
        color: $colorBlackText;
        display: none;
      }
    }
  }
  &__text-mob {
    padding-top: 15px;
    @include centreFlex;
    position: relative;
    display: none;
    flex-direction: column;
    text-align: center;
    z-index: 30;
    @include smScreenWidth {
      & {
        display: flex;
      }
    }
  }
  &__text-heading {
    max-width: 620px;
    @include fontBoltHeading;
    margin-bottom: 40px;
    color: #ffffff;
    @include smScreenWidth {
      & {
        margin-bottom: 15px;
        color: $colorBlackText;
      }
    }
    @include mobileWidth {
      & {
        @include paddingMob;
        font-size: 22px;
      }
    }
  }
  &__text-p {
    max-width: 560px;
    margin-bottom: 27px;
    font-size: 24px;
    @include smScreenWidth {
      & {
        margin-bottom: 15px;
      }
    }
    @include mobileWidth {
      & {
        font-size: 16px;
      }
    }
  }
  &__phon {
    margin-right: 27px;
    @include fontBoltHeading;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 800;
    @include smScreenWidth {
      & {
        color: $colorBlackText;
      }
    }
    @include mobileWidth {
      & {
        font-size: 22px;
      }
    }
  }
  &__phon-img {
    margin-right: 27px;
  }
}
