@import "_normalize";
@import "_variables_mixin.scss";
@import "_styleBannerMixin.scss";
@import "_styleForBanner";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main-cont-wrp-ups {
  // @include pageGred;
  font-family: $fontRobotoReg;
  &__text-un-ban {
    padding-top: 40px;
    margin-bottom: 40px;
    @include marCenter;
    max-width: 1116px;
    text-align: center;
    font-size: 18px;
  }
  &__line {
    max-width: 1440px;
    width: 100%;
    margin-bottom: 40px;
    @include marCenter;
    border-top: 1px solid $greyLine;
  }
  &__heading-text {
    margin-bottom: 40px;
    @include pageGred;
    @include fontBoltHeading;
  }
  @at-root {
    .problems-ups {
      max-width: 1607px;
      width: 100%;
      @include marCenter;
      font-family: $fontRobotoReg;
      &__wrp-pos {
        display: flex;
      justify-content: space-between;
      position: relative;
      }
      &__cont-img-wrp {
        position: relative;
      }
      &__title-text {
        position: absolute;
        top: 54px;
        left: 81px;
        z-index: 20;
      }
      &__icon-wrp {
        margin-bottom: 10px;
        @include centreFlex;
      }
      &__title-text-width {
        max-width: 263px;
      }
      &__line {
        width: 349px;
        border-top: 1px solid $mainColor;
      }
      &__icon {
        height: 112px;
        margin-right: 15px;
      }
      &__text {
        max-width: 350px;
        padding-top: 26px;
        font-size: 16px;
      }
      &__wrp {
        position: relative;
        display: flex;
      }
      &__smail-wrp {
        position: relative;
      }
      &__smail-text {
        position: absolute;
        top:32px;
        left: 60px;
      }
      &__smail-pos {
        @include centreFlex;
      }
      &__smail-text-pos {
        max-width: 813px;
        padding-left: 32px;
        font-size: 24px;
        line-height: 1;
      }
      &__smail-link {
        color: $mainColor;
        text-decoration: underline;
      }
    }
  }
}